*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(../imagens/images.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    
   
}
#container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #087f88;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;

}

#title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url(../imagens/hacker3.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px ;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

#inscreva-se:hover{
    background-color: cadetblue;
    color: black;
    transition: 0.5s;
    cursor:pointer;
}

input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    background-image: url(../Pagina_de_Captura/imagens/arrow.jpg);
    background-repeat: no-repeat;
    
    background-position: calc(100% - 10px) center;
   
}

ul{    
    list-style: none; 
    
}

.palestra{ 

    color: white;
    margin-bottom: 5px;     
}

a{
    text-decoration: none;
    color: white;
}

.palestra-hover:hover{
    text-transform: uppercase;
    transition: .8s;
    color: #48C5CE;
}


footer{
    background-color: #1d2020;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;    
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

